In [1]:
import pandas as pd

In [2]:
# 데이터 수 파악

In [3]:
b_multi = pd.read_excel('./data/서울시_연립다세대(전월세)_실거래가.xlsx')
b_office = pd.read_excel('./data/서울시_오피스텔(전월세)_실거래가.xlsx')
b_alone = pd.read_csv('./data/서울시_단독다가구(전월세)_실거래가.csv', encoding='CP949')

In [4]:
k_multi = pd.read_csv('./data/관악구_연립다세대(전월세)_실거래가.csv', encoding='CP949')
k_office = pd.read_csv('./data/관악구_오피스텔(전월세)_실거래가.csv', encoding='CP949')
k_alone = pd.read_csv('./data/관악구_단독다가구(전월세)_실거래가.csv', encoding='CP949')

In [5]:
print("<서울시>")
print('연립다세대 총 거래수 :\t\t',len(b_multi))
print('오피스텔 거래수 :\t\t',len(b_office))
print('단독다가구 거래수 :\t\t',len(b_alone))
print('')
print('연립다세대 건물 종류수 :\t',len(b_multi['번지'].value_counts()))
print('오피스텔 건물 종류수 :\t\t',len(b_office['번지'].value_counts()))
print('단독다가구 도로명 종류수 :\t',len(b_alone['도로명'].value_counts()))
print('ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ')
print("<관악구>")
print('연립다세대 총 거래수 :\t\t',len(k_multi))
print('오피스텔 거래수 :\t\t',len(k_office))
print('단독다가구 거래수 :\t\t',len(k_alone))
print('')
print('연립다세대 건물 종류수 :\t',len(k_multi['번지'].value_counts()))
print('오피스텔 건물 종류수 :\t\t',len(k_office['번지'].value_counts()))
print('단독다가구 도로명 종류수 :\t',len(k_alone['도로명'].value_counts()))
print('ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ')

<서울시>
연립다세대 총 거래수 :		 115068
오피스텔 거래수 :		 51935
단독다가구 거래수 :		 153188

연립다세대 건물 종류수 :	 31793
오피스텔 건물 종류수 :		 3056
단독다가구 도로명 종류수 :	 10604
ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ
<관악구>
연립다세대 총 거래수 :		 4463
오피스텔 거래수 :		 2047
단독다가구 거래수 :		 19463

연립다세대 건물 종류수 :	 1986
오피스텔 건물 종류수 :		 271
단독다가구 도로명 종류수 :	 776
ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ

In [6]:
b_m = b_multi.iloc[:,[0,1,5,6,7,9,10,11,12]]
b_o = b_office.iloc[:,[0,1,5,6,7,9,10,11,12]]
b_a = b_alone.iloc[:,[0,1,3,4,5,7,8,9,10]]

#결측치 행 제거
b_m2 = b_m.dropna(axis=0)
b_o2 = b_o.dropna(axis=0)
b_a2 = b_a.dropna(axis=0)

b_m2['unique'] = b_m2['시군구'] + ' ' + b_m2['번지'] + ' '+list(map(str,b_m2['전용면적(㎡)']))
b_o2['unique'] = b_o2['시군구'] + ' ' + b_o2['번지'] + ' '+list(map(str,b_o2['전용면적(㎡)']))
b_a2['unique'] = b_a2['도로명'] + ' ' + list(map(str,b_a2['계약면적(㎡)']))

C:\Users\조영재\AppData\Local\Temp\ipykernel_10224\2036397162.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b_m2['unique'] = b_m2['시군구'] + ' ' + b_m2['번지'] + ' '+list(map(str,b_m2['전용면적(㎡)']))
C:\Users\조영재\AppData\Local\Temp\ipykernel_10224\2036397162.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b_o2['unique'] = b_o2['시군구'] + ' ' + b_o2['번지'] + ' '+list(map(str,b_o2['전용면적(㎡)']))
C:\Users\조영재\AppData\Local\Temp\ipykernel_10224\2036397162.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b_a2['unique'] = b_a2['도로명'] + ' ' + list(map(str,b_a2['계약면적(㎡)']))

In [7]:
print("전처리 전(거래수):",len(b_m) , len(b_o) , len(b_a))
print("전처리 후(거래수):",len(b_m2) , len(b_o2) , len(b_a2))
print("전처리 후(종류수):",len(b_m2['unique'].value_counts()) , len(b_o2['unique'].value_counts()) , len(b_a2['unique'].value_counts()))

전처리 전(거래수): 115068 51935 153188
전처리 후(거래수): 115034 50413 130519
전처리 후(종류수): 79122 8738 95613

In [8]:
k_m = k_multi.iloc[:,[0,1,5,6,7,9,10,11,12]]
k_o = k_office.iloc[:,[0,1,5,6,7,9,10,11,12]]
k_a = k_alone.iloc[:,[0,1,3,4,5,7,8,9,10]]

#결측치 행 제거
k_m2 = k_m.dropna(axis=0)
k_o2 = k_o.dropna(axis=0)
k_a2 = k_a.dropna(axis=0)

k_m2['unique'] = k_m2['시군구'] + ' ' + k_m2['번지'] + ' '+list(map(str,k_m2['전용면적(㎡)']))
k_o2['unique'] = k_o2['시군구'] + ' ' + k_o2['번지'] + ' '+list(map(str,k_o2['전용면적(㎡)']))
k_a2['unique'] = k_a2['도로명'] + ' ' + list(map(str,k_a2['계약면적(㎡)']))

C:\Users\조영재\AppData\Local\Temp\ipykernel_10224\3944049919.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  k_o2['unique'] = k_o2['시군구'] + ' ' + k_o2['번지'] + ' '+list(map(str,k_o2['전용면적(㎡)']))
C:\Users\조영재\AppData\Local\Temp\ipykernel_10224\3944049919.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  k_a2['unique'] = k_a2['도로명'] + ' ' + list(map(str,k_a2['계약면적(㎡)']))

In [9]:
print("전처리 전(거래수):",len(k_m) , len(k_o) , len(k_a))
print("전처리 후(거래수):",len(k_m2) , len(k_o2) , len(k_a2))
print("전처리 후(종류수):",len(k_m2['unique'].value_counts()) , len(k_o2['unique'].value_counts()) , len(k_a2['unique'].value_counts()))

전처리 전(거래수): 4463 2047 19463
전처리 후(거래수): 4463 1983 15416
전처리 후(종류수): 3104 686 9893

In [10]:
print("연립다세대 전세:\t",len(b_m2[b_m2['전월세구분']=='전세']))
print("연립다세대 전세+월세:\t",len(b_m2))
print("--")
print("오피스텔 전세:   \t",len(b_o2[b_o2['전월세구분']=='전세']))
print("오피스텔 전세+월세:\t",len(b_o2))

연립다세대 전세:	 75799
연립다세대 전세+월세:	 115034
--
오피스텔 전세:   	 24292
오피스텔 전세+월세:	 50413

In [11]:
def to01(aaa):
    if aaa == '전세':
        return 0
    else:
        return 1
def to02(aaa):
    if aaa == 'aaaaaaaaa':
        return 1
    else:
        return 0
def to03(aaa):
    if aaa == 'aaaaaaaaa':
        return 0
    else:
        return 1

In [12]:
b_m2['위치'] = b_m2['시군구']+' '+b_m2['번지']
b_m2['전월세'] = list(map(to01,b_m2['전월세구분']))
b_m2['신축정도'] = b_m2['건축년도']
b_m2['면적']=b_m2.iloc[:,3]
b_m3 = b_m2.drop([b_m2.columns[0],b_m2.columns[1],b_m2.columns[2],b_m2.columns[3]],axis=1)
b_m3['보증금'] = b_m3['보증금(만원)']
b_m3['월세'] = b_m3['월세(만원)']

C:\Users\조영재\AppData\Local\Temp\ipykernel_10224\2282417095.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b_m2['위치'] = b_m2['시군구']+' '+b_m2['번지']
C:\Users\조영재\AppData\Local\Temp\ipykernel_10224\2282417095.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b_m2['전월세'] = list(map(to01,b_m2['전월세구분']))
C:\Users\조영재\AppData\Local\Temp\ipykernel_10224\2282417095.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b_m2['신축정도'] = b_m2['건축년도']
C:\Users\조영재\AppData\Local\Temp\ipykernel_10224\2282417095.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b_m2['면적']=b_m2.iloc[:,3]

In [13]:
b_o2['위치'] = b_o2['시군구']+' '+b_o2['번지']
b_o2['전월세'] = list(map(to01,b_o2['전월세구분']))
b_o2['신축정도'] = b_o2['건축년도']
b_o2['면적']=b_o2.iloc[:,3]
b_o3 = b_o2.drop([b_o2.columns[0],b_o2.columns[1],b_o2.columns[2],b_o2.columns[3]],axis=1)
b_o3['보증금'] = b_o3['보증금(만원)']
b_o3['월세'] = b_o3['월세(만원)']

C:\Users\조영재\AppData\Local\Temp\ipykernel_10224\4097243204.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b_o2['위치'] = b_o2['시군구']+' '+b_o2['번지']
C:\Users\조영재\AppData\Local\Temp\ipykernel_10224\4097243204.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b_o2['전월세'] = list(map(to01,b_o2['전월세구분']))
C:\Users\조영재\AppData\Local\Temp\ipykernel_10224\4097243204.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b_o2['신축정도'] = b_o2['건축년도']
C:\Users\조영재\AppData\Local\Temp\ipykernel_10224\4097243204.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b_o2['면적']=b_o2.iloc[:,3]

In [14]:
b_m3 = b_m3[['unique', '위치', '면적', '전월세', '보증금','월세','층', '건축년도', '계약년월']]
b_o3 = b_o3[['unique', '위치', '면적', '전월세', '보증금','월세','층', '건축년도', '계약년월']]

In [15]:
b_m3['type']=list(map(to02,b_m3['전월세']))
b_o3['type']=list(map(to03,b_o3['전월세']))

In [16]:
b_m3 = b_m3[['unique', '위치', '면적', '전월세', '보증금','월세','층', '건축년도', '계약년월', 'type']]
b_o3 = b_o3[['unique', '위치', '면적', '전월세', '보증금','월세','층', '건축년도', '계약년월', 'type']]

In [17]:
data = pd.concat([b_m3, b_o3])

In [18]:
data

,unique,위치,면적,전월세,보증금,월세,층,건축년도,계약년월,type
0,서울특별시 강남구 개포동 1163-4 13.56,서울특별시 강남구 개포동 1163-4,13.56,1,"3,000",40,4,2013.0,202104,0
1,서울특별시 강남구 개포동 1163-4 21.88,서울특별시 강남구 개포동 1163-4,21.88,0,"16,000",0,3,2013.0,202105,0
2,서울특별시 강남구 개포동 1163-4 21.88,서울특별시 강남구 개포동 1163-4,21.88,0,"16,000",0,2,2013.0,202105,0
3,서울특별시 강남구 개포동 1163-4 21.88,서울특별시 강남구 개포동 1163-4,21.88,0,"16,000",0,5,2013.0,202202,0
4,서울특별시 강남구 개포동 1163-4 21.88,서울특별시 강남구 개포동 1163-4,21.88,0,"16,000",0,4,2013.0,202203,0
...,...,...,...,...,...,...,...,...,...,...
51930,서울특별시 중랑구 중화동 208-4 22.21,서울특별시 중랑구 중화동 208-4,22.21,1,"1,000",45,3,2012.0,202111,1
51931,서울특별시 중랑구 중화동 208-4 22.21,서울특별시 중랑구 중화동 208-4,22.21,1,"1,000",50,2,2012.0,202202,1
51932,서울특별시 중랑구 중화동 208-4 22.21,서울특별시 중랑구 중화동 208-4,22.21,0,"11,500",0,6,2012.0,202203,1
51933,서울특별시 중랑구 중화동 208-4 22.21,서울특별시 중랑구 중화동 208-4,22.21,0,"12,000",0,3,2012.0,202203,1
51934,서울특별시 중랑구 중화동 307-4 73.83,서울특별시 중랑구 중화동 307-4,73.83,0,"5,500",0,3,2017.0,202111,1

In [19]:
def no_c(aaa):
    num = ''
    for one in aaa:
        if one != ',':
            num += one
    return float(num)

In [20]:
data['보증금'] = list(map(no_c,data['보증금']))

In [21]:
data

,unique,위치,면적,전월세,보증금,월세,층,건축년도,계약년월,type
0,서울특별시 강남구 개포동 1163-4 13.56,서울특별시 강남구 개포동 1163-4,13.56,1,3000.0,40,4,2013.0,202104,0
1,서울특별시 강남구 개포동 1163-4 21.88,서울특별시 강남구 개포동 1163-4,21.88,0,16000.0,0,3,2013.0,202105,0
2,서울특별시 강남구 개포동 1163-4 21.88,서울특별시 강남구 개포동 1163-4,21.88,0,16000.0,0,2,2013.0,202105,0
3,서울특별시 강남구 개포동 1163-4 21.88,서울특별시 강남구 개포동 1163-4,21.88,0,16000.0,0,5,2013.0,202202,0
4,서울특별시 강남구 개포동 1163-4 21.88,서울특별시 강남구 개포동 1163-4,21.88,0,16000.0,0,4,2013.0,202203,0
...,...,...,...,...,...,...,...,...,...,...
51930,서울특별시 중랑구 중화동 208-4 22.21,서울특별시 중랑구 중화동 208-4,22.21,1,1000.0,45,3,2012.0,202111,1
51931,서울특별시 중랑구 중화동 208-4 22.21,서울특별시 중랑구 중화동 208-4,22.21,1,1000.0,50,2,2012.0,202202,1
51932,서울특별시 중랑구 중화동 208-4 22.21,서울특별시 중랑구 중화동 208-4,22.21,0,11500.0,0,6,2012.0,202203,1
51933,서울특별시 중랑구 중화동 208-4 22.21,서울특별시 중랑구 중화동 208-4,22.21,0,12000.0,0,3,2012.0,202203,1
51934,서울특별시 중랑구 중화동 307-4 73.83,서울특별시 중랑구 중화동 307-4,73.83,0,5500.0,0,3,2017.0,202111,1

In [22]:
def no_c(aaa):
    num = ''
    for one in str(aaa):
        if one != ',':
            num += one
    return float(num)
data['월세'] = list(map(no_c,data['월세']))

In [23]:
def per(a,b,c):
    return(a+5*float(b))/c
data['perarea'] = list(map(per,data['보증금'], data['월세'],data['면적']))

In [24]:
data

,unique,위치,면적,전월세,보증금,월세,층,건축년도,계약년월,type,perarea
0,서울특별시 강남구 개포동 1163-4 13.56,서울특별시 강남구 개포동 1163-4,13.56,1,3000.0,40.0,4,2013.0,202104,0,235.988201
1,서울특별시 강남구 개포동 1163-4 21.88,서울특별시 강남구 개포동 1163-4,21.88,0,16000.0,0.0,3,2013.0,202105,0,731.261426
2,서울특별시 강남구 개포동 1163-4 21.88,서울특별시 강남구 개포동 1163-4,21.88,0,16000.0,0.0,2,2013.0,202105,0,731.261426
3,서울특별시 강남구 개포동 1163-4 21.88,서울특별시 강남구 개포동 1163-4,21.88,0,16000.0,0.0,5,2013.0,202202,0,731.261426
4,서울특별시 강남구 개포동 1163-4 21.88,서울특별시 강남구 개포동 1163-4,21.88,0,16000.0,0.0,4,2013.0,202203,0,731.261426
...,...,...,...,...,...,...,...,...,...,...,...
51930,서울특별시 중랑구 중화동 208-4 22.21,서울특별시 중랑구 중화동 208-4,22.21,1,1000.0,45.0,3,2012.0,202111,1,55.155335
51931,서울특별시 중랑구 중화동 208-4 22.21,서울특별시 중랑구 중화동 208-4,22.21,1,1000.0,50.0,2,2012.0,202202,1,56.280955
51932,서울특별시 중랑구 중화동 208-4 22.21,서울특별시 중랑구 중화동 208-4,22.21,0,11500.0,0.0,6,2012.0,202203,1,517.784782
51933,서울특별시 중랑구 중화동 208-4 22.21,서울특별시 중랑구 중화동 208-4,22.21,0,12000.0,0.0,3,2012.0,202203,1,540.297163
51934,서울특별시 중랑구 중화동 307-4 73.83,서울특별시 중랑구 중화동 307-4,73.83,0,5500.0,0.0,3,2017.0,202111,1,74.495463

In [25]:
data.to_csv('./data/seoul_data.csv', index=False)

In [ ]:
# pd.set_option('display.max_rows',)